body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  border-top: 5px solid #8b96a8;
  border-bottom: 5px solid #8b96a8;
  margin: 30px auto;
  width: 800px;
  padding: 50px;
  background: #F6F6F6;
}

.current_page {
  font-style: italic;
}

nav {

text-align: center;
color: #222;
}

nav ul {
list-style: none;
  padding: 0px;
}

nav li {
display: inline-block;
}

ul li {
  list-style: square;
}

li img {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid #123;
  }

}
h1 {
  text-transform: uppercase;
text-align: center;
margin-top: 0;
color: #030609;
font-weight: bold;
}
h4 {
  font-style: normal;
}
li h4 {
  font-style: italic;
  display: inline;
}
h5 {
  font-weight: normal;
  display: inline;

}
h6 {
  font-weight: normal;
  display: inline;
}

p {
margin: 0px;


}
